html {
  margin: 0;
  box-sizing: border-box;

}



.start-content {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: dm-sans;

  >h1 {
    font-size: 48px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  >p {
    margin: 0 0 32px 0;
    font-size: 18px;
  }
}

.signup-field {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;

  >button {
    background-color: #2E3EDF !important;
    font-family: dm-sans;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 40px;
    height: 41px;
    gap: 4px;
    color: #fff;
  }

  >input {
    outline: none;
    background: none;
    border: 1px solid white;
    border-radius: 40px;
    width: 300px;
    padding: 12px 24px;
    color: white;

  }

  >input::placeholder {
    color: white;
    opacity: 0.8;
    font-size: 15px;
  }

}


app-log-in {
  height: 200px;
  width: 200px;
}

.error-message-container {
  width: 80%;
  text-align: left;
}

.error-message {
  color: red;
  font-size: 12px !important; 

}

@media (max-width: 768px) { 
  .start-content {
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }
  }
  .signup-field {
    input {
      width: 200px;
    }
    button {
      width: 130px;
    }
  }
}

@media (max-width: 480px) {
  .start-content {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
  .signup-field {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    input {
      width: 90%;
      max-width: 280px;
    }
    button {
      width: 90%;
      margin-top: 10px;
      max-width: 280px;
    }
  }
}