<app-header></app-header>
<section
  class="background"
  style="background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.7) 90%), url('../../assets/img/Diashow.jpeg');">

        <div class="start-content">
        <h1>Movies,TV shows, and more </h1> 
        <p>Enter your email to create or restart your subscription.</p>
        <div class="signup-field">
            <input type="email" id="email" placeholder="Email Adress">
            <button mat-flat-button color="primary">Sign Up ></button>
        </div>
    </div>
    
    <app-footer></app-footer>
</section>
