<app-header></app-header>
<section
  class="background"
  style="background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.7) 90%), url('../../assets/img/popcorn_2.jpeg');">

  <form (ngSubmit)="onSubmit()">
    <div class="login-content">
      <div class="back-arrow">
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
      </div>
      <h1>Forgot your Password</h1>
      <span>We will send you an email with instructions to reset your password.</span>

        <mat-form-field >
            <mat-label>Enter your email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              (blur)="updateErrorMessage()"
              required
            />
            @if (email.invalid) {
              <mat-error>{{errorMessage()}}</mat-error>
            }
          </mat-form-field>

          
          
          <div class="login-lower-content">
            <button [disabled]="email.invalid " mat-flat-button color="primary">
              Send Email
            </button>
          </div>
    </div>

    
</form>
<p *ngIf="message" class="info-message">{{ message }}</p>
<p *ngIf="error" class="error-message">{{ error }}</p>
<app-footer></app-footer>
</section>
