@import '../../variables';

body{
    font-family: dm-sans;
}

.background{
    flex-direction: column;
}

.login-content{
    height: 385px;
    width: 370px;
    display: flex;
    flex-direction: column;
    padding: 43px 56px;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;

    >h1{
        color: $primary-color;
        font-size: 40px;
        margin: 0;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    
    
}

mat-form-field{
    width: 100%;
    border-radius: 12px;
    color: $primary-color;
    font-size: 13px;
    height: 70px;
    margin-bottom: 8px;

}

mat-input{
    font-size: 14px;
    height: 15px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important; 
    border: 1.5px solid $primary-color ;
    border-radius: 13px;
}
mat-label{
 color: $primary-color;
 font-family: dm-sans;
 font-size: 14px;
 font-weight: 700px;
}

.password-input{
    display: flex;
    width: 100%;
    font-family: dm-sans;
    gap: 4px;
    margin-bottom: 35px;
    >input{
        height: 13px;
        width: 13px;
        border: 1px solid $primary-color;
    }
}

.login-lower-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: dm-sans;
    flex-direction: column;
    gap: 19px;

    button{
        background-color: #2E3EDF !important;
        height: 48px;
        width: 100px;
        font-size: 16px;
        border-radius: 40px;
        font-weight: 700;
        font-family: dm-sans;
        white-space: nowrap;
        
    }
    >span{
        color: $primary-color;
        font-weight: 600;
        cursor: pointer;
        font-size: 16px;
    }

    >div{
        display: flex;
        width: 80%; 
        gap: 24px;
        justify-content: center;

        >span{
            font-size: 16px;
            font-weight: 600;
        }

        >a{
            color: $primary-color;
            font-weight: 600;
            cursor: pointer;
        }
    }
}