/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'dm-sans'; /* Name der Schriftart */
    src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype'); /* Pfad zur TTF-Datei */
    font-weight: normal;
    font-style: normal;
  }
  app-header{
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    height: 108px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 96px;
}

app-footer{
    position: absolute;
    z-index: 99;
    bottom: 40px;
    right: 50%;
    width: 150px;
    display: flex;
    padding: 10px;
    gap: 48px;
    color: white;
    letter-spacing: 1px;
}

.background {
    background-size: cover !important; 
    background-position: center !important;
    height: 100vh; 
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }